[Unit]
Description=Volumio Controller Service
After=local-fs.target

[Service]
User=volumio
Type=simple
Restart=always
WorkingDirectory=/home/volumio/volumio-controller
ExecStart=/home/volumio/volumio-controller/venv/bin/python3 __main__.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target